<div class="main-block">
    <h1>Admin</h1>
    <form id="login-form" method="POST" action="/playground" class="new-post-form">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Enter Username" class="full-width-input" />

        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Enter Password" class="full-width-input" />

        <button id="login-button" type="submit">Login</button>
    </form>

    <div class="error-container">
        {{#if error}}
        <h4>{{error}}</h4>
        {{/if}}
    </div>


</div>