<div class="main-block">
    <h1>Register</h1>
    <form id="signup-form" method="POST" action="/user/signup" class="new-post-form">
        <label for="firstname">First Name</label>
        <input id="firstname" type="text" name="firstname" placeholder="Enter Firstname" class="full-width-input" />

        <label for="lastname">Last Name</label>
        <input id="lastname" type="text" name="lastname" placeholder="Enter Lastname" class="full-width-input" />

        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Enter Username" class="full-width-input" />

        <label for="email">Email</label>
        <input id="email" type="text" name="email" placeholder="Enter Email" class="full-width-input" />

        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Enter Password" class="full-width-input" />

        <label for="confirm_password">Confirm Password</label>
        <input id="confirm_password" type="password" name="confirm_password" placeholder="Enter Confirm Password"
            class="full-width-input" />

        <button id="sign-button" type="submit">Signup</button>
    </form>

    <div class="error-container">
        {{#if error}}
        <h4>{{error}}</h4>
        {{/if}}
    </div>

    <a href="/">Already have an account? Click here to log-in</a>

</div>