<section id="sport-event" class="my-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Create new sporting event!</h3>
            </div>
            <div class="col-12">
                <form action="/event" method="post">
                    {{!-- image URL, playgroundName, hostName, sport, location, timing, players --}}
                    <div class="form-group">
                        <label for="image">Image URL</label>
                        <input type="text" name="image" id="image" class="form-control" placeholder="Image URL">
                    </div>

                    <div class="form-group">
                        <label for="playgroundName">Playground Name</label>
                        <input type="text" name="playgroundName" id="playgroundName" class="form-control"
                            placeholder="Playground Name">
                    </div>

                    <div class="form-group">
                        <label for="hostName">Host Name</label>
                        <input type="text" name="hostName" id="hostName" class="form-control" placeholder="Host Name">
                    </div>

                    <div class="form-group">
                        <label for="sport">Sport</label>
                        <input type="text" name="sport" id="sport" class="form-control" placeholder="Sport">
                    </div>

                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" name="location" id="location" class="form-control" placeholder="Location">
                    </div>

                    <div class="form-group">
                        <label for="timing">Timing</label>
                        <input type="datetime-local" name="timing" id="timing" class="form-control"
                            placeholder="Timing">
                    </div>

                    <div class="form-group" id="player-field-container">
                        <div class="d-flex my-3 justify-content-between">
                            <label for="players">Players</label>
                            <button class="btn btn-primary btn-sm" id="add-player">add more</button>
                        </div>
                        <input type="text" name="players" class="form-control" placeholder="Players">
                    </div>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    // add a new input field on click
    const addPlayerField = document.getElementById('add-player');
    addPlayerField.addEventListener('click', function (event) {
        event.preventDefault()
        const playerFieldContainer = document.getElementById('player-field-container');
        const playerField = document.createElement('input');
        playerField.type = 'text';
        playerField.name = 'players';
        playerField.className = 'form-control';
        playerField.placeholder = 'Players';
        playerFieldContainer.appendChild(playerField);
    });

</script>