body {
    font-family: Verdana, monospace;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.playgrounds-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.home-container {
    margin: 20px 0;
}

/* home page */
.filter-search{
 margin-left: 15px;
}

.card{
    margin : 5px !important;
    width: 400px !important;
    height: 425px !important;
}